<!DOCTYPE html>
<html>
<head>
    <title>Crear Lista</title>
</head>
<body>
    <h1>Crear Lista</h1>
    <form method="post">
        {% csrf_token %}
        <label for="title">Titulo:</label>
        <input type="text" name="title" id="title" required><br>
        <label for="description">Descripcion:</label>
        <textarea name="description" id="description"></textarea><br>
        <input type="submit" value="Crear">
    </form>
    <a href="{% url 'task_list' %}">Volver a la lista de Tareas</a>
</body>
</html>
